.dog-info {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  font-family:Sansita Swashed ;
}


.dog-cover{
   
    padding: 1;
    background-color: aqua;
    display: inline;
    border-radius: .5rem;
    -moz-osx-font-smoothing: grayscale;
    
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ( 0 );
    width: fit-content;
    transition: transform .25s ease-out;
} */

}


.br3{
    width: 300px;
}



.bg-light-green.dib.br3.pa3{
    display: inline-table;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    height: 32rem;
    width: 20rem;
    background-color: rgb(240, 213, 140);
    /* background-image: url(sky.gif); */
}

/* a come from searchbox.js */
.a{
background-color: rgb(247, 244, 244);
border-radius: 10px;
box-sizing: border-box;
border: 2px solid ;
width: 300px;
height: 50px;
font-size: 25px;
/* background-image: url('./images/iconsearch.png'); */


}


.dog-title{
    font-family: 'Rock Salt' ;
    font-size: 50px;
    border-top: 0;
    color: cornsilk;
    
}

/* from dogfocus.js */

.dog-detail{
    font-family: 'Commissioner';
    background-image: url(dog.gif);
    font-size: solid;
    font-weight: bolder;
    color: cornsilk;
   
    

}


.all{
   /* background: linear-gradient(rgb(235, 133, 38), rgb(37, 35, 35)); */
   background-image: url(dog.gif);
   /* width: 25rem; */
}
