.dog-info {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
  font-family:Sansita Swashed ;
}


.dog-cover{
   
    padding: 1;
    background-color: aqua;
    display: inline;
    border-radius: .5rem;
    -moz-osx-font-smoothing: grayscale;
    
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ( 0 );
    width: fit-content;
    transition: transform .25s ease-out; */
}


/* .body{
        display: inline-flex;
} */


/* .bg-light-green.dib.br3.pa3.ma2.grow.bw2.shadow{
    display: inline-flex;
    
} */

.br3{
    width: 300px;
}

.bg-light-green.dib.br3.pa3{
    display: inline-table;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    height: 500px;
    width: 400px;
    background-color: rgb(228, 172, 20);
    /* background-image: url(sky.gif); */
}

/* a come from searchbox.js */
.a{
background-color: rgb(247, 244, 244);
border-radius: 10px;
box-sizing: border-box;
border: 2px solid ;
width: 300px;
height: 50px;
font-size: 25px;
/* background-image: url('./images/iconsearch.png'); */


}


.dog-title{
    font-family: 'Rock Salt' ;
    font-size: 50px;
}

/* from dogfocus.js */

.dog-detail{
    font-family: 'Commissioner';
    background-image: url(dog.gif);
    font-size: solid;
    font-weight: bolder;
   

}


.tc{
    background-image: url(dog.gif);
}

